$blackMirrow: rgb(26, 29, 29);
$whiteShow: rgb(243, 245, 246);
$goldenShower: rgb(255, 174, 0);
$grayLight: rgb(227, 229, 230);
$blueMonday: #3471e2;

// Breakpoints
@mixin tablet {
    @media only screen and (min-width: 768px) {
        @content;
    }
}
@mixin laptop {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}
@mixin laptop-L {
    @media only screen and (min-width: 1440px) {
        @content;
    }
}
// @include tablet {}
// @include laptop {}
// @include laptop-L {}