.globalShareInSocialMedia {
    width: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    right: 35px;
    bottom:20%;
    z-index: 1;
    font-weight: bold;
    button {
        margin-top: 10px;
        width: 32px;
        height: 32px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
@include tablet {
    .globalShareInSocialMedia {
        bottom:35%;
    }
}