.videoContainerStyle {
    .iframeVideo {
        width: 280px;
    }
    .infoVideo {
        background-color: rgba(0, 0, 0, 0.062);
        width: 280px;
    }
}
@include tablet { 
    .videoContainerStyle {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .iframeVideo {
            width: 80%;
            height: 50vh;
        }
        .infoVideo {
            width: 80%;
        }
    }
}