.containerPage {
    display: flex;
    justify-content: center;
    .innerPage {
        width: 90%;
    }
}
@include laptop {
    .containerPage {
        .innerPage {
            width: 80%;
        }
    }
}
@include laptop-L {
    .containerPage {
        .innerPage {
            width: 70%;
        }
    }
}